<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2TSpdpyrv34WAr-U9vfNGVUND0xZiN6E</string>
	<key>GCM_SENDER_ID</key>
	<string>583843381490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.backgroundServices</string>
	<key>PROJECT_ID</key>
	<string>test-bec69</string>
	<key>STORAGE_BUCKET</key>
	<string>test-bec69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583843381490:ios:1ba0026bd2d3e14fb6506b</string>
</dict>
</plist>